.office-hours-card.card {
  display: flex;
  align-items: center;
  justify-content: start;

  span {
    display: flex;
    justify-content: start;
    width: 100%;

    h4 {
      padding: 0.5rem;

      &.day {
        background-color: black;
        color: white;
        width: 5rem;
      }
    }
  }
}
